@using ToDo.ViewModels
@model DashboardViewModel

<h1>Admin Dashboard</h1>
<p>Total de Usuários: @Model.TotalUtilizadores</p>
<p>Total de Tarefas: @Model.TotalTarefas</p>
<p>Tarefas Concluídas: @Model.TarefasCompletadas</p>