@model IEnumerable<ToDo.Models.Utilizador>


<div class="container-fluid px-4">
    <br />
    <br />
    <div class="card mb-4">
        <div class="card-body">
            <h2>Gerenciar Usuários</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.PrimeiroNome @user.Apelido</td>
                            <td>@user.Email</td>
                            <td>
                                <form asp-action="DeleteUser" method="post" style="display:inline;">
                                    <input type="hidden" name="id" value="@user.Id" />
                                    <button type="submit" class="btn btn-danger">Deletar</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>